GEO-GRAPH/GDMVisualization/GDMVisualization.Web/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetExperimentGraph">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExperimentGraphResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExperimentGraphResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionVariable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionVariableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSessionVariableResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolutionGraph">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolutionGraphResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSolutionGraphResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUseSolutionGraph">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUseSolutionGraphResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUseSolutionGraphResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentExperimentID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentExperimentIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentExperimentIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoExperimentActions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExperimentID" type="xs:int" />
        <xs:element minOccurs="0" name="PersonID" type="xs:int" />
        <xs:element minOccurs="0" name="VertexID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoExperimentActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertIntoExperimentActionsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddParticipant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="turkId" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddParticipantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddParticipantResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSessionVariable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSessionVariableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setSessionVariableResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertExperimentGraph">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="graph_xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertExperimentGraphResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertExperimentGraphResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolvedProblemGraph">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParticipantID" type="xs:int" />
        <xs:element minOccurs="0" name="Solved" type="xs:boolean" />
        <xs:element minOccurs="0" name="SolvedTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolvedProblemGraphResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SolvedProblemGraphResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolutionAcceptancePartial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParticipantID" type="xs:int" />
        <xs:element minOccurs="0" name="ExperimentID" type="xs:int" />
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="AcceptedSolution" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolutionAcceptancePartialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SolutionAcceptancePartialResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformBulkCopy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformBulkCopyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PerformBulkCopyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>